In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays WHERE song_id is not null LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(4108, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT count(*) FROM songplays

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(92, 'Ryann', 'Smith', 'F', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (74, 'Braden', 'Parker', 'M', 'free'),
 (30, 'Avery', 'Watkins', 'F', 'paid')]

In [6]:
%sql SELECT count(*) FROM users

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(96,)]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)]

In [8]:
%sql SELECT count(*) FROM songs

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [9]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan)]

In [10]:
%sql SELECT * FROM artists INNER JOIN songs USING(artist_id);

 * postgresql://student:***@127.0.0.1/sparkifydb
71 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan, 'SOMZWCG12A8C13C480', "I Didn't Mean To", 0, 218.93179),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan, 'SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 0, 266.39628),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan, 'SOIAZJW12AB01853F1', 'Pink World', 1984, 269.81832),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan, 'SOHKNRJ12A6701D1F8', 'Drop of Rain', 0, 189.57016),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892, 'SOCIWDW12A8C13D406', 'Soul Deep', 1969, 148.03546),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan, 'SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 0, 267.7024),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan, 'SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 0, 114.78159),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962, -80.01955, 'SOQHXMF12AB0182363', 'Young Boy Blues', 0, 218.77506),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan, 'SONHOTT12A8C13493C', 'Something Girls', 1982, 233.40363),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan, 'SOFSOCN12A8C143F5D', 'Face the Ashes', 2007, 209.60608),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan, 'SOXVLOJ12AB0189215', 'Amor De Cabaret', 0, 177.47546),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.16793, -95.84502, 'SOUQQEA12A8C134B1B', 'High Tide', 0, 228.5971),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan, 'SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 0, 599.24853),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.64856, -79.38533, 'SOHUOAP12A8AE488E9', 'Floating', 1987, 491.12771),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan, 'SOMUYGI12AB0188633', 'La Culpa', 0, 226.35057),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan, 'SORAMLE12AB017C8B0', 'Auguri Cha Cha', 0, 191.84281),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan, 'SOXLBJT12A8C140925', 'Caught In A Dream', 2004, 290.29832),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.31109, -94.02978, 'SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 0, 151.84934),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan, 'SOZVMJI12AB01808AF', 'Synthetic Dream', 0, 165.69424),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan, 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 0, 245.21098),
 ('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 38.8991, -77.029, 'SOBEBDG12A58A76D60', 'Kassie Jones', 0, 220.78649),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan, nan, 'SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 1986, 307.3824),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', nan, nan, 'SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)', 0, 173.66159),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.88415, -87.63241, 'SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 1972, 342.56934),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828, -83.22295, 'SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 2005, 186.48771),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 40.82624, -74.47995, 'SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 2004, 207.77751),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.08615, -94.10158, 'SOGXHEG12AB018653E', 'It Makes No Difference Now', 1992, 133.32853),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.83721, -94.35868, 'SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 1985, 124.86485),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan, 'SOZQDIU12A58A7BCF6', 'Superconfidential', 0, 338.31138),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.73197, -74.17418, 'SOVYKGO12AB0187199', 'Crazy Mixed Up World', 1961, 156.39465),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', nan, nan, 'SOPSWQW12A6D4F8781', 'Made Like This (Live)', 0, 225.09669),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.80388, 15.47491, 'SOZCTXZ12AB0182364', 'Setanta matins', 0, 269.58322),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547, 'SOLLHMX12AB01846DC', 'The Emperor Falls', 0, 484.62322),
 ('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', 40.79195, -73.94512, 'SOBZBAZ12A6D4F8742', 'Spanish Grease', 1997, 168.25424),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.83168, 'SOYTPEP12AB0180E7B', 'Twist and Shout', 1964, 164.80608),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan, 'SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 1997, 313.12934),
 ('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', nan, nan, 'SOZHPGD12A8C1394FE', 'Baby Come To Me', 0, 236.93016),
 ('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 40.99471, -77.60454, 'SOMVWWT12A58A7AE05', 'Knocked Out Of The Park', 0, 183.17016),
 ('AR7ZKHQ1187B98DD73', 'Glad', '', nan, nan, 'SOTUKVB12AB0181477', 'Blessed Assurance', 1993, 270.602),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', 37.77916, -122.42005, 'SOTTDKS12AB018D69B', 'It Wont Be Christmas', 0, 241.47546),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', 51.50632, -0.12714, 'SODUJBS12A8C132150', 'Wessex Loses a Bride', 0, 111.62077),
 ('ARKULSX1187FB45F84', 'Trafik', 'Utah', 39.49974, -111.54732, 'SOQVMXR12A81C21483', 'Salt In NYC', 0, 424.12363),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.53823, -81.37739, 'SOPVXLX12A8C1402D5', 'Larger Than Life', 1999, 236.25098),
 ('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', nan, nan, 'SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', 0, 138.63138),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan, 'SOQLGFP12A58A7800E', 'OAKtown', 0, 259.44771),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', nan, nan, 'SOSLAVG12A8C13397F', 'Den Pai Alo', 0, 243.82649),
 ('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 40.71455, -74.00712, 'SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 2000, 43.36281),
 ('AREDL271187FB40F44', 'Soul Mekanik', '', nan, nan, 'SOPEGZN12AB0181B3D', 'Get Your Head Stuck On Your Neck', 0, 45.66159),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan, 'SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 2004, 207.43791),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 37.77916, -122.42005, 'SOOJPRH12A8C141995', 'Loaded Like A Gun', 0, 173.19138),
 ('ARGSAFR1269FB35070', 'Blingtones', '', nan, nan, 'SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu', 0, 29.54404),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan, 'SOGVQGJ12AB017F169', 'Ten Tonne', 2005, 337.68444),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', nan, nan, 'SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 0, 511.16363),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan, 'SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 1994, 236.17261),
 ('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.80726, 15.9676, 'SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 0, 407.37914),
 ('AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan, 'SOBCOSW12A8C13D398', 'Rumba De Barcelona', 0, 218.38322),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36.16778, -86.77836, 'SOQOTLQ12AB01868D0', 'Clementina Santafè', 0, 153.33832),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56.27609, 9.51695, 'SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 0, 230.71302),
 ('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', nan, nan, 'SOLEYHO12AB0188A85', 'Got My Mojo Workin', 0, 338.23302),
 ('ARJIE2Y1187B994AB7', 'Line Renaud', '', nan, nan, 'SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 0, 152.92036),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', nan, nan, 'SORRZGD12A6310DBC3', 'Harajuku Girls', 2004, 290.55955),
 ('AR558FS1187FB45658', '40 Grit', '', nan, nan, 'SOGDBUF12A8C140FAA', 'Intro', 2003, 75.67628),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', 40.79086, -73.96644, 'SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 1994, 305.162),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.11278, 'SONSKXP12A8C13A2C9', 'Native Soul', 2003, 197.19791),
 ('AR051KA1187B98B2FF', 'Wilks', '', nan, nan, 'SOLYIBD12A8C135045', 'Music is what we love', 0, 261.51138),
 ('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', nan, nan, 'SODAUVL12A8C13D184', 'Prognosis', 2000, 363.85914),
 ('ARULZCI1241B9C8611', 'Luna Orbit Project', '', nan, nan, 'SOSWKAV12AB018FC91', 'Midnight Star', 0, 335.51628),
 ('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 32.74863, -97.32925, 'SODREIN12A58A7F2E5', 'A Whiter Shade Of Pale (Live @ Fillmore West)', 0, 326.00771),
 ('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 41.88415, -87.63241, 'SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 0, 279.97995),
 ('AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan, 'SOINLJW12A8C13314C', 'City Slickers', 2008, 149.86404),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442, -41.9952, 'SOFCHDR12AB01866EF', 'Living Hell', 0, 282.43546)]

In [11]:
%sql SELECT count(*) FROM artists

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(69,)]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 0, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 1, 30, 48, 11, 2018, 4)]

In [13]:
%sql SELECT count(*) FROM time

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6813,)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

# Sanity Tests 

Execute the cells below once you are ready to submit the project. Some basic sanity testing will be performed to esnure that your work does NOT contain any commonly found issues. 

Run each cell and if a cell produces an warning message is orange, you should make appropriate changes to your code before submitting. If all test in a cell pass,no warnings will be printed. 

The test cases assume that you are using certain column names in your tables. If you get a `IndexError: single positional indexer is out-of-bounds` you may need to change the column names being used by the test cases. Instructions for doing this appear right boefore cell that may require these changes.

The tests below are only meant to help you make your work foolproof. The submission will still be graded by a human grader against the project rubric.

---

## Grab Table Names for Testing

In [14]:
import sql_queries as sqlq

In [15]:
%%sql _tablenames <<
SELECT tablename
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema' AND tableowner = 'student';

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _tablenames

In [16]:
tablenames = _tablenames.DataFrame()

In [17]:
user_table = [name for name in list(tablenames.tablename) if name in sqlq.user_table_create][0]
song_table = [name for name in list(tablenames.tablename) if name in sqlq.song_table_create][0]
artists_table = [name for name in list(tablenames.tablename) if name in sqlq.artist_table_create][0]
songplay_table = [name for name in list(tablenames.tablename) if name in sqlq.songplay_table_create][0]

## Run Primary Key Tests

In [18]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{user_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [19]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {user_table} table does not have a primary key!")

In [20]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{artists_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [21]:
if not _output: 
    print('\033[93m'+'[WARNING] '+ f"The {artists_table} table does not have a primary key!")

In [22]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{songplay_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [23]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {songplay_table} table does not have a primary key!")

In [24]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{song_table}'::regclass

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output

In [25]:
if not _output:
    print('\033[93m'+'[WARNING] '+ f"The {song_table} table does not have a primary key!")

## Run Data Type and Constraints Check

In [26]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{user_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the column `user_id` for correct data type.**
If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using a different column name. Change the column name below and run the cell again.

In [27]:
output = _output.DataFrame()
_dtype = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type {_dtype} may not be an appropriate data type for column 'user_id' in the '{user_table}' table.")

In [28]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{song_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the column `year` for correct data type.
Check columns `title` and `duration` for not-NULL constraints.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [29]:
output = _output.DataFrame()

_dtype = output[output.column_name == 'year'].data_type.iloc[0]
if _dtype not in ['integer']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype}' may not be an appropriate data type for column 'year' in the '{song_table}' table.")

_nullable_title = output[output.column_name == 'title'].is_nullable.iloc[0]
_nullable_duration = output[output.column_name == 'duration'].is_nullable.iloc[0]
if (_nullable_duration != 'NO') or (_nullable_title != 'NO'): 
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{song_table}' table.")

In [30]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{artists_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the columns `latitude` and `longitude` for correct data type.
Check column `name` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [31]:
output = _output.DataFrame()

_dtype_latitude = output[output.column_name == 'latitude'].data_type.iloc[0]
if _dtype_latitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_latitude}' may not be an appropriate data type for column 'latitude' in the '{artists_table}' table")

_dtype_longitude = output[output.column_name == 'longitude'].data_type.iloc[0]
if _dtype_longitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_longitude}' may not be an appropriate data type for column 'longitude' in the '{artists_table}' table")


_nullable_name = output[output.column_name == 'name'].is_nullable.iloc[0]
if _nullable_name != 'NO':
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{artists_table}' table.")

In [32]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{songplay_table}'

 * postgresql://student:***@127.0.0.1/sparkifydb
9 rows affected.
Returning data to local variable _output

**Check the columns `start_time` and `user_id` for correct data type.
Check columns `start_time` and `user_id` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [33]:
output = _output.DataFrame()

_dtype_start_time = output[output.column_name == 'start_time'].data_type.iloc[0]
if 'timestamp' not in _dtype_start_time: 
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_start_time}' may not be an appropriate data type for column 'start_time' in the '{songplay_table}' table.")

_dtype_user_id = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype_user_id not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_user_id}' may not be an appropriate data type for column 'user_id' in the '{songplay_table}' table.")


_nullable_time = output[output.column_name == 'start_time'].is_nullable.iloc[0]
_nullable_uid = output[output.column_name == 'user_id'].is_nullable.iloc[0]

if (_nullable_time != 'NO') or (_nullable_uid != 'NO'):
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{songplay_table}' table.")

## Run Tests for Upsertion Check

In [34]:
import re

In [35]:
if not re.search('ON\s+CONFLICT',sqlq.songplay_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.user_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.song_table_insert,re.IGNORECASE) or \
   not re.search('ON\s+CONFLICT',sqlq.artist_table_insert,re.IGNORECASE):
    print('\033[93m'+'[WARNING]Some of your insert queries may need an "ON CONFLICT" clause.')
    print('\033[93m'+'         You can either skip conflicting insertions with with "ON CONFLICT DO NOTHING"')
    print('\033[93m'+'         OR use "ON CONFLICT DO UPDATE SET"')
    print('\033[93m'+'         Check this link for more details: https://www.postgresqltutorial.com/postgresql-upsert/')